:root {
    --font--secondary: 'Montserrat', sans-serif;
    --font--primary: 'Pacifico', cursive;
    --clr--black1: #0b0c10;
    --clr-black2: #1f2833;
    --clr--grey: #c5c6c7;
    --clr--green1: #66fcf1;
    --clr-green2: #45a29e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h3,
p {
  margin: 0;
}

a:link {
    transition: 0.1s ease-in;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    transition: 0.1s ease-in;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-size: 1.4rem;
    line-height: 1.6;
}

section {
    padding: 4rem 0;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
    font-family: var(--font--primary);
}
section {
    background-color: var(--clr-black2);
}

.container--narrow {
    max-width: 60rem;
    font-family: var(--font--secondary);
    font-weight: 900;
}

.frase {
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-left: 5rem;
}

h1,
h3 {
    line-height: 1;
}

h1,
h3,
p {
    margin-bottom: 2em;    
}

.icon {
    color: var(--clr--green1);
}
.icon:hover {
    color: var(--clr-green2);
    font-size: 2.5rem;
    transition: 0.2s ease-out;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 100%;
}
img:hover {
    border: 3px solid var(--clr--green1);
    transition: 0.1s ease-in;
}

.text-center {
    text-align: center;
  }

.center {
    margin-inline: auto;
}

.split {
    display: flex;
    flex-direction: column;
 }

 .myPhoto {
     max-width: 9rem;
     border-radius: 100%;
 }


 /*Nav Section*/
 .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:var(--clr--black1);
 }

/* Welcome section */

 .welcome-container {
    height: 60vh;
    color:var(--clr--green1);
 }
.welcome-container > * {
    padding-top:25vh;
}
/*About*/
.about-title {
    color: var(--clr--green1);
}
.about-content {
    color: white;
}
.about-content h3 {
    color:white;
}

/*Projects*/
.project-title {
    color: var(--clr--green1);
}

/*Footer*/
.footerH3 {
    color: var(--clr--green1);
}


/*MEdia QUERY*/
 @media (min-width:28.75em) {
     .split {
         flex-direction: row  ;
     }
     .split > * {
         flex-basis: 100%;
     }
     .split > * + * {
         margin-left: 2em;
     }
     #welcome {
         margin-top: 5rem;
         margin-left: 20rem;
     }
     #profile-link {
        margin-left: 10%;
    }
    .nav-elements{
        margin-right: 10%;
    }
 }

 @media (min-width: 28.75em) {
     section {
         padding: 7rem 0;
     }
 }

@media (max-width: 28.75em) {
    .nav {
        text-align: center;
        position: relative;
    }
    .myPhoto {
        margin: 1.5rem auto auto auto;
    }

    .welcome-container > * {
        padding-top: 30%;
    }
    .frase {
        margin: auto;    
    }
}
 
